header {
	margin: 0px auto;
	margin-top: 2%;
	padding-left: 44%;
	display: center;
	color: black;

}

#reset-button{
	margin-left: 47%;
}	

#board {
	margin: 0px auto;
	width: 600px;
	height: 400px;
	margin-top: 4%;
}

td {
	border: .5px solid black;
}

ul li {
	display: inline-block;
	/*margin: 0px auto;*/
	padding-left: 30%;
	text-decoration: none;
}

