header {
	margin: 0px auto;
	margin-top: 2%;
	padding-left: 44%;
	display: center;
	color: black;
}

#start-button{
	margin-left: 47%;
}	

#board {
	margin: 0px auto;
	width: 600px;
	height: 400px;
	margin-top: 4%;
}

td {
	border: .5px solid black;
}

ul li {
	display: inline-block;
	margin: 0px auto;
	padding-left: 30%;
	text-decoration: none;
}

.red {
	background-color: red;
}






/******** NOT IN USE ********************************************************************************/

/*.ex {
	background-image: url(http://etc.usf.edu/presentations/extras/letters/varsity_letters/01/36/x-400.png);
}*/

