html { 
  background: url(../images/greenchalkboard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}


header {
	display: center;
	margin: 0px auto;
	margin-top: 5.5%;
	padding-left: 42.5%;
	color: black;
	color: white;
	font-size: 1.5em;
}

#start-button{
	border: 1px solid white;
	margin-left: 46.5%;
	margin-top: 0%;
	background-color: #315E4B;
	color: white;
	font-size: 1em;
}

#board {
	margin: 0px auto;
	width: 700px;
	height: 500px;
	margin-top: 3%;
	font-size: 7em;
	color: white;
}

td {
	border: .5px solid white;
	width: 5%;
	height: 5%;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
}

ul li {
	display: inline-block;
	padding-left: 26%;
    margin: 0%;
	color: white;
	font-size: 1.7em;
	text-decoration: none;
}








/******** NOT IN USE ********************************************************************************/

/*.ex {
	background-image: url(http://etc.usf.edu/presentations/extras/letters/varsity_letters/01/36/x-400.png);
}*/

